{% load widget_tweaks %}
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
  {% for field in form.visible_fields %}
{% with field|field_type as inp%}
  <div class="form-group">
    {% if form.is_bound %}
      {% if field.errors %}
      {% if inp == "booleanfield" %}
      <div class="form-group form-check">
          {% render_field field class="form-check-input" %}<label for="id_remember">{{ field.label_tag }}</label></div>
        {% else %}
        {% render_field field class="form-control col-md-6" %}
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
      {% if inp == "booleanfield" %}
      <div class="form-group form-check">
          {% render_field field class="form-check-input" %}<label for="id_remember">{{ field.label_tag }}</label></div>
        {% else %}
        {% render_field field class="form-control col-md-6" %}
        {% endif %}
        
      {% endif %}
    {% else %}
    {% if inp == "booleanfield" %}
    <div class="form-group form-check">
        {% render_field field class="form-check-input" %}<label for="id_remember">{{ field.label_tag }}</label></div>
      {% else %}
      {% render_field field class="form-control col-md-6" %}
      {% endif %}
      {% endif %}
      {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endwith %}
{% endfor %}
{% else %}
{% for field in form.visible_fields %}
{% with field|field_type as inp%}
  <div class="form-group">
    {% if form.is_bound %}
      {% if field.errors %}
      {% if inp == "booleanfield" %}
      <div class="form-group form-check">
          {% render_field field class="form-check-input" %}<label for="id_remember">{{ field.label_tag }}</label></div>
        {% else %}
        {% render_field field class="form-control is-invalid" %}
        {% endif %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
      {% if inp == "booleanfield" %}
      <div class="form-group form-check">
          {% render_field field class="form-check-input" %}<label for="id_remember">{{ field.label_tag }}</label></div>
        {% else %}
        {% render_field field class="form-control col-md-6 is-valid" %}
        {% endif %}
        
      {% endif %}
    {% else %}
    {% if inp == "booleanfield" %}
    <div class="form-group form-check">
        {% render_field field class="form-check-input" %}<label for="id_remember">{{ field.label_tag }}</label></div>
      {% else %}
      {% render_field field class="form-control col-md-6" %}
      {% endif %}
      {% endif %}


    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
  {% endwith %}
{% endfor %}
{% endif %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}