{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-main">
    <div class="navbar-nb">
      <ul>
        <li><img src="https://img.icons8.com/ultraviolet/30/000000/user-typing-using-typewriter.png"></li>
        <li><a href="{% url 'home' %}">Storead</a></li>
      </ul>
    </div>
    <div class="div-login">
      <div class="form-div">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="primaryAction button-login" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
