{% for feed in feeds %}
{% if not feed.sickied %}
<div class="col-12">
  <article class="media content-section fade show alert-dismissible ">
    <div class="media-body">
      <div class="row article-metadata">
        <span><i class="material-icons">person</i></span>{{ feed.author.name }}
      </div>

      <h2><a class="article-title"
        href="#">{{ feed.subreddit.display_name }}</a></h2>
        <p class="article-content">{{ feed.subreddit.public_description }}
        </p>
        <div class="article-content">
                     <a class="mr-2"
                     data-toggle="collapse" href="#feed{{ feed.id }}"
                     role="button" aria-expanded="false"
                     aria-controls="feed{{ feed.id }}"
                     onclick="load_comments">{{ feed.title }}</a>
                 <div class="collapse row" id="feed{{ feed.id }}">
                         <div class="card card-body col-12" >
                                 {% if feed.selftext %}
                                 {{feed.selftext}}
                                 {% else %}
                                 <p class="article-content">No self text</p>
                                 {% endif %}
                         </div>
                   </div>
          </div>
          <div class="d-flex .d-sm-flex .d-md-flex flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row justify-content-around">
            <div class="p-2">
              <small class="text-muted">
                <a class="row"
                data-toggle="collapse" href="#comments{{ feed.id }}"
                role="button" aria-expanded="false"
                aria-controls="comments{{ feed.id }}"
                onclick="load_comments('comment{{feed.id}}')">
                <span>
                  <i class="material-icons">comment</i>
                </span>
                {{ feed.num_comments }}
              </a>
            </small>
          </div>
          <div class="p-2">
            <small class="row text-muted ">
              <span><i class="material-icons-outlined">thumb_up_alt</i></span>
              {{ feed.ups }}
            </small>
            </div>
            <div class="p-2">
              <small class="row text-muted">
                <span>
                <i class="material-icons-outlined">thumb_down_alt</i>
                </span>
                {{ feed.downs }}
              </small>
              </div>
            </div>
            <div class="collapse row" id="comments{{ feed.id }}">
              <div class="card card-body col-12" id=comment{{feed.id}}>
                {{ feed.id }}
              </div>
            </div>

        </div>


      </article>
    </div>
    {%endif%}
    {% endfor %}
