<div class="col-12" id="feed-card">
    <article class="media content-section fade show alert-dismissible d-none"
        id="card">
        <input type="hidden" id="bookmark-id">
        <div class="media-body">
            <div class="d-flex justify-content-between article-metadata">
                <div class="p-2 row">
                    <span><i class="material-icons">person</i></span><span
                        id="author">(data[id].author || 'Anonymous')</span>
                </div>
                <div class="p-2 row">
                    <div class="btn-group">
                        <button onclick="" type="button"
                            class="btn btn-info btn-sm" id="bookmark">Bookmark</button>
                        <!-- <button type="button"
                            class="btn btn-info dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button> -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else
                                here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2><p class="article-title"><span
                        id="title">data[id].title</span></p></h2>
                        <div>
                            <small class="text-muted">                        <span><i
                                >PostedAt:</i></span>
                        <span id="date-posted">[id].publishedAt</span></small>
                        </div>
                        <div>
                            <small class="text-muted"> 
                                    <span><i
                                        >Time:</i>                       <span id="time-posted">[id].publishedAt</span></small>
                        </div>
                        <input type="hidden" value="posted-at" id="published-at">
            <p class="article-content mt-3" id="description"> + data[id].description
                + `
            </p>
            </p>
            <div class="article-content">
                <a class="mr-2" data-toggle="collapse" href="#content"
                    role="button" aria-expanded="false" aria-controls="content"
                    id="content-button">readmore</a>
                <div class="collapse row" id="content">
                    <div class="card card-body col-12" id="content-body">
                        data[id].content</div>
                </div>
            </div>
            <img id="image" class="rounded mx-auto d-block img-thumbnail"
                src="#" alt=" :-( SORRY NO IMAGE">
            <div
                class="d-flex .d-sm-flex .d-md-flex flex-column flex-sm-row flex-md-row flex-lg-row flex-xl-row justify-content-around">
                <div class="p-2">
                    <small class="text-muted">
                        <a id="bibliography" href="#">
                            <span>
                                <i class="material-icons">comment</i>
                            </span>
                            &nbsp;Bibliography
                        </a>
                        
                    </small>
                </div>
            </div>
        </div>
    </article>
</div>


<div class="page-fit">
    <div class="row justify-content-md-center">
        <form class="signup col-6" id="add-bookmark" method="post"
            action="" class="form-group">
            {% csrf_token %}
            <p><input class="form-control form-control-lg" type="text"
                    name="bookmark" placeholder="Bookmark name" autofocus="autofocus"
                    minlength="1" maxlength="150" required id="id_username"></p>
          
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Sign Up
            &raquo;</button>
    </div>
    </form>
</div>
</div>