* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.container-main {
  display: flex;
  height: 100vh;
}

.container-main .left-sidebar {
  width: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main .left-sidebar menu{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.container-main .left-sidebar menu li {
  border-radius: 100px;
  border: 0 solid;
  padding: .5em;
  color: black;
}


.container-main .left-sidebar menu li:hover,
.container-main .left-sidebar menu li:hover{
  background-color: rgba(0, 30, 220, 0.2);
  border-radius: 100px;
  padding: .5em;
  color: #1c94e0;
}

.container-main .left-sidebar menu .a-tag{
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

.container-main .main-content {
  width: 49%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #1c94e0;
}

.container-main .right-sidebar {
  width: 30%;
}

.container-main .right-sidebar input {
  width: 80%;
  margin: .5em 1em .5em 2em;
  border: 1px solid #1c94e0;
  border-radius: 100px;
  padding: .5em;
  color: #1c94e0;
}
.container-main .right-sidebar input:focus {
  border: 3px solid #1c94e0;
}

@media (min-width: 577px) and (max-width: 768px) {
  .hide {
    display: none;
  }
  .container-main .left-sidebar {
    width: 30%;
  }
  .container-main .main-content {
    width: 70%;
  }
  .container-main .right-sidebar {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .container-main .left-sidebar {
    width: 25%;
  }
  .container-main .main-content {
    width: 75%;
  }
  .container-main .right-sidebar {
    display: none;
  }
}
