body {
  width: 100%;
  font-family: sans-serif;
  height: 100%;
}
.container-main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container-main .div-1 {
  width: 50%;
  height: 100%;
  background: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.container-main .div-1 .center-class{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 4rem;
}
.container-main .div-1 .center-class .div-class{
  display: flex;
  padding: 24px;
}
.container-main .div-1 .center-class .div-class h4{
  padding: .5rem 0 0 .5rem;
}

.container-main .div-2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-main .div-2 .login-box{
  display: flex;
  flex-direction: column;
  width: 55%;
}
.container-main .div-2 .login-box .top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container-main .div-2 .login-box .middle{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.container-main .div-2 .login-box .bottom{
  display: flex;
  flex-wrap: wrap;
}
.container-main .div-2 .login-box .bottom h6{
  width: 100%;
  margin-bottom: 1rem;
}
.container-main .div-2 .login-box .bottom a{
  width: 100%;
  margin-bottom: 1rem;
}
.a-signup{
  background: #1da1f2;
  border-radius: 100px;
  padding: 10px 10px 10px 10px;
  color: white;
  text-decoration: none!important;
  text-align: center;
}

.a-login{
  border: 1px solid #1da1f2;
  border-radius: 100px;
  padding: 10px 15px 10px 15px;
  color: #1da1f2;
  text-decoration: none!important;
  text-align: center;
}
