{% extends "main_base.html" %}
{% block content %}


  <div class="container">
    <div id='story' class="row">
      <div class="col-12">
        <div id="name_of_story" class="col-12 h2 active">
          <p>Title: {{ story_name }}</p>
        </div>
        <div id="des_of_story" class="col-12 h6">
          <p>description: {{ description }}</p>
        </div>
      </div>

      <div id='story-card' class="col-12"></div>
      {% include 'feeds.html'%}
      <div id=1></div>
    </div>

    <div class="row mt-2 p-2">
      <!-- <form class="col-12" action="#" method="POST"> -->
        {% csrf_token %}
        <div class="form-group col-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text " for="bookmark">Bookmarks</label>
            </div>
            <select class="custom-select" id="bookmark" onchange="renderBookmark()">
              <option id="select-default" disabled selected value> -- select a bookmark -- </option>
              {% for bookmark in bookmarks %}
                <option id="{{bookmark.id}}" value="{{bookmark.id}}">{{bookmark.bookmark_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="editor">Write your story...</label>
            <!-- {{form.media}} -->
            <!-- {{form}} -->
            <!-- {% include 'account/form.html' with form=form %} -->
            <textarea class="form-control" id="editor" rows="4"></textarea>
          </div>
          <button class="btn btn-info" id='story-card-submit'>Make card</button>
        </div>
      <!-- </form> -->
    </div>
  </div>

  <!-- Modal -->

<!-- Modal -->
<input type="hidden" id='current-text-card' value="">
<div class="modal fade" id="edit-story-card" tabindex="-1" role="dialog" aria-labelledby="Edit Card" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="modal-editor" name="name" rows="8" cols="50"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button onclick="edit_and_save()" type="button" class="btn btn-primary" id="edit-and-save">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
