{% extends "main_base.html" %}
{% block content %}


  <div class="container">
    <div id='story' class="row">
      <div class="col-12">
        <div id="name_of_story" class="col-12 h2 active">
          <p>Title: {{ story_name }}</p>
        </div>
        <div id="des_of_story" class="col-12 h6">
          <p>description: {{ description }}</p>
        </div>
      </div>

      <div id='story-card' class="col-12"></div>
      {% include 'feeds.html'%}
      <div id=1></div>
    </div>

    <div class="row mt-2 p-2">
      <!-- <form class="col-12" action="#" method="POST"> -->
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="bookmark">Bookmarks</label>
            </div>
            <select class="custom-select" id="bookmark" onchange="renderBookmark()">
              <option id="select-default" disabled selected value> -- select a bookmark -- </option>
              {% for bookmark in bookmarks %}
                <option id="{{bookmark.id}}" value="{{bookmark.id}}">{{bookmark.bookmark_name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="editor">Write your story...</label>
            <!-- {{form.media}} -->
            <!-- {{form}} -->
            <!-- {% include 'account/form.html' with form=form %} -->
            <textarea class="form-control" id="editor" rows="4"></textarea>
          </div>
          <button class="btn btn-info" id='story-card-submit'>Make card</button>
        </div>
      <!-- </form> -->
    </div>
  </div>

{% endblock %}
