{% load static %}
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
<link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
<link rel="stylesheet" type="text/css"
    href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css"
    href="{% static 'css/boot_util.css' %}" />
<link rel="stylesheet" type="text/css"
    href="{% static 'css/boot_util2.css' %}" />
<link rel="stylesheet" type="text/css"
    href="{% static 'css/basic_styles.css' %}" />
<link rel="stylesheet" type="text/css"
    href="{% static 'css/main_base.css' %}" />