{% for feed in feeds %}
<div class="col-12">
    <article class="media content-section fade show alert-dismissible ">
        <div class="media-body">
            <div class="article-metadata">
                {{ feed.author.name }}
                <small class="ml-3 text-muted alert-success">step
                    in:{{ feed.ups }}</small>
                <small class="ml-3 text-muted alert-danger">step
                    out:{{ feed.downs }}</small>
            </div>

            <h2><a class="article-title"
                    href="#">{{ feed.subreddit.display_name }}</a></h2>
            <p class="article-content">{{ feed.subreddit.public_description }}
            </p>
            <p class="article-content">>{{ feed.title }}</p>
            <div class="article-content">
                <small class="text-muted alert-info"><a class="mr-2"
                        data-toggle="collapse" href="#comments{{ feed.id }}"
                        role="button" aria-expanded="false"
                        aria-controls="comments{{ feed.id }}"
                        onclick="load_comments">comments:
                        {{ feed.num_comments }}</a></small>
                <div class="collapse" id="comments{{ feed.id }}">
                    <div class="card card-body" id={{feed.id}}>
                        
                            {{ feed.id }} waiting for comments...
                        
                    </div>
                </div>
            </div>

        </div>


    </article>
</div>
{% endfor %}