{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Storead{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main_base.css' %}" />
  <script src="https://kit.fontawesome.com/803986fb40.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/basic_styles.css' %}" />
</head>
<body>
  <div class="container-main">
    <div class="left-sidebar">
      <menu class="menu-nav">
        <a class='a-tag' href="{% url 'dashboard' %}">
          <span>
            <img src="https://img.icons8.com/ultraviolet/26/000000/user-typing-using-typewriter.png">
          </span>
          <span class="hide">Home</span>
        </a>
        <a class='a-tag' href="{% url 'explore' %}">
          <div class="icon-tab">
            <span class="icons">
              <i class="material-icons">search</i>
            </span>
            <span class="hide">
              Explore
            </span>
          </div>
        </a>

        <a class='a-tag' href="{% url 'bookmarks' %}">
          <div class="icon-tab">
            <span class="icons">
              <i class="material-icons">bookmark</i>
            </span>
            <span class="hide">
              Bookmarks
            </span>
          </div>
        </a>
        <a  class="a-tag" data-toggle="modal" data-target="#logout" href="#logout" id='logout_btn'>
          <div class="icon-tab">
            <span class="icons">
              <i class="material-icons">logout</i>
            </span>
            <span class="hide">
              Log out
            </span>
          </div>
        </a>
      </menu>
    </div>

    <div class="main-content ">
      {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show col-12" role="alert">
        {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <div class="container">
        <div class="d-flex flex-wrap justify-content-around mt-5 mb-5">
            <a href="{% url 'explorer_hot_feeds' %}" class="p-2">
              <div class="box-part text-center">
                <i class="material-icons">whatshot</i>
                <div class="title">
                  <h4>HOT</h4>
                </div>


              </div>
            </a>

            <a href="{% url 'explorer_rising_feeds' %}" class="p-2">

              <div class="box-part text-center">

                <i class="material-icons"
                aria-hidden="true">trending_up</i>

                <div class="title">
                  <h4>Rising</h4>
                </div>

              </div>
            </a>

            <a href="{% url 'explorer_new_feeds' %}" class="p-2">

              <div class="box-part text-center">

                <i class="material-icons"
                aria-hidden="true">email</i>

                <div class="title">
                  <h4>New</h4>
                </div>



              </div>
            </a>

            <a href="{% url 'explorer_controversial_feeds' %}" class="p-2">

              <div class="box-part text-center">

                <i class="material-icons"
                aria-hidden="true">sentiment_very_dissatisfied
              </i>

                <div class="title">
                  <h4>Controversial</h4>
                </div></div>
            </a>

            <a href="{% url 'explorer_top_feeds' %}" class="p-2">

              <div class="box-part text-center">

                <i class="material-icons"
                aria-hidden="true">star</i>

                <div class="title">
                  <h4>Top</h4>
                </div>
              </div>
            </a>
          </div>
        <div class="row">
          <div class="col-12 overflow-auto">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar">
      <input class="right-side-input" type="search" name="search" value="search">
      {% block right_content %}
      {% endblock %}
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLongTitle">Logout</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input class="right-side-input" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="primaryAction button-login" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(function($) {
  let url = window.location.href;
  $('a').each(function() {
    if (this.href === url) {
      $(this).addClass('active');
    }
  });
});
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
