{% extends "main_base.html" %}
{% block content %}

<div>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<div>
    {% if image %}
    <img src="{{ image.url }}" alt="DP" class="profile_photo">
    {% else %}
    {% load static %}
    <img class="profile-pic" src="{% static "/images/default.jpeg" %}" alt="Avatar">
    {% endif %}
    {% if not image_form %}
    <a href="{% url 'upload_photo' %}">Edit</a>
    {% else %}
    <form action="{% url 'photo_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form }}
        <button>Upload</button>
    </form>
    {% endif %}
</div>

<div>
    {% if user_form %}

    <form action="{% url 'post_new_username' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="{{ request.user.username }}" required minlength=6 name="username">
        <input type="submit">
    </form>

    {% else %}

    {{ request.user.username }}
    <a href="{% url 'edit_username' %}">Edit</a>

    {% endif %}
</div>

{{ request.user.email }}
{{ request.user.first_name }}
{{ request.user.last_name }}
</div>
{% endblock %}
